.Student {
  table {
    width: 100%;
    text-align: center;

    th {
      text-align: center;
    }
  }

  .title {
    margin-top: 20px;

    h2 {
      font-family: fantasy;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 36px;
    }

    .mat-button.add {
      background-color: darkcyan;
      color: white;
      margin-left: auto;
      margin-right: 10px;
    }

    .delete {
      background-color: red;
      color: white;
      margin-left: auto;
    }

  }

  .btn {
    margin-top: 5px;
  }
}

@media only screen and (max-width : 992px) {
  .mat-button {
    width: 100% !important;
  }

  .btn {
    width: 100% !important;
  }

}
