<div class="dialog">
  <!--Action Title-->
  <h1 mat-dialog-title>
    {{action}}
  </h1>
  <hr>
  <!--Content-->
  <div mat-dialog-content>
    <!--Form Inputs-->
    <form [formGroup]="DataTable" class="mt-3">
      <div class="form-group" *ngIf="action != 'Delete'; else elseTemplate">
        <input type="text" class="form-control" placeholder="{{action}} Name" matInput [(ngModel)]="local_data.name"
          formControlName="name">
        <div class="alert alert-warning" role="alert"
          *ngIf="DataTable.controls.name.invalid && DataTable.controls.name.touched">
          Name is invalid
        </div>

      </div>
      <div class="form-group" *ngIf="action != 'Delete'; else elseTemplate">
        <input type="email" class="form-control" placeholder="{{action}} email" matInput [(ngModel)]="local_data.email"
          formControlName="email">
        <div class="alert alert-warning" role="alert"
          *ngIf="DataTable.controls.email.invalid && DataTable.controls.email.touched">
          Email is invalid
        </div>
      </div>
      <div class="form-group" *ngIf="action != 'Delete'; else elseTemplate">
        <input type="number" class="form-control" placeholder="age" placeholder="{{action}} age" matInput
          [(ngModel)]="local_data.age" formControlName="age">
        <div class="alert alert-warning" role="alert"
          *ngIf="DataTable.controls.age.invalid && DataTable.controls.age.touched">
          Age is invalid
        </div>
      </div>
    </form>
    <ng-template #elseTemplate>
      Are You Sure To delete ? <b>{{local_data.name}}</b>?
    </ng-template>
  </div>
  <hr>
  <div mat-dialog-actions>
    <button mat-button (click)="doAction()" class="btn-style">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </div>

</div>
